body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-size: 57px;
  font-weight: 500;
  line-height: 69px;
  color: white;
}
h2 {
  font-size: 39px;
  font-weight: 500;
  line-height: 47px;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
}
h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 0 4px 0 0;
}
h5 {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

.subheader p {
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  align-content: center;
  letter-spacing: 0.06em;
  max-width: 700px;
  display: block;
  margin: auto;
}
.caption {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.primary-button {
  padding: 16px 32px;
  background: #6c919c;
  border: 1px solid #6c919c;
  border-radius: 340px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #efefef;
  text-decoration: none;
}
.hero-section {
  background-image: url(/images/photos/cat.jpg);
  background-size: cover;
  height: 840px;
}
.hero-left {
  margin: 130px 0 0 80px;
}
.round-button {
  border-radius: 100px;
  padding: 20px;
  background: #6c919c;
}

.button-card {
  background: rgba(244, 240, 240, 0.3);
  box-shadow: 4px 8px 18px rgba(51, 36, 37, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 25px;
}

.donation-method {
  margin: 60px 0 100px 0;
}
.donation-method img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
.donation-text p {
  line-height: 26px;
  text-align: center;
  padding: 0 60px;
}
.tertiary-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: auto 0;
}
.animal-card-grid {
  margin: 0 60px;
}
.animal-card-background {
  height: 303px;
  width: 200px;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 27px rgba(34, 51, 55, 0.25));
}
.animal-card-image {
  padding: 16px;
}
.card-textgroup {
  margin-left: 16px;
}
.animal-name {
  margin-bottom: 4px;
}
