body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  font-size: 57px;
  font-weight: 500;
  line-height: 69px;
}
h2 {
  font-size: 39px;
  font-weight: 500;
  line-height: 47px;
  text-align: center;
}
h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.01em;
}
h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 0 4px 0 0;
}
h5 {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
}

.subheader p {
  font-weight: 500;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  align-content: center;
  letter-spacing: 0.06em;
  max-width: 700px;
  display: block;
  margin: auto;
}
.caption {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}
.donation-method {
  margin: 60px 0 100px 0;
}
.donation-method img {
  display: block;
  margin: 0 auto;
  padding-bottom: 20px;
}
.donation-text p {
  line-height: 26px;
  text-align: center;
  padding: 0 60px;
}
.tertiary-button {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  margin: auto 0;
}
.animal-card-grid {
  margin: 0 60px;
}
.animal-card-background {
  height: 303px;
  width: 200px;
  background-color: white;
  border-radius: 8px;
  filter: drop-shadow(0px 4px 27px rgba(34, 51, 55, 0.25));
}
.animal-card-image {
  padding: 16px;
}
.card-textgroup {
  margin-left: 16px;
}
.animal-name {
  margin-bottom: 4px;
}
